[user]
	name = tomotaka-yamasaki
	email = tomotaka.yamasaki@aktsk.jp
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	safecrlf = true
	whitespace = cr-at-eol
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[color "diff"]
        meta = 082
        frag = 015
        old = 166 normal
        new = 033 normal
        context = 015
        commit = 226
[push]
	default = upstream
